html,
body {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: gray;
}

.screen_menu {
    height: 40px;
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    cursor: pointer;
}